.Label {
    margin: 0 10px;
    vertical-align: middle;
}

.Control {
    margin: 5px 0;
    padding: 0;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}